@media (max-width: 1600px) {
    .header-container {
        max-width: 1300px;
        padding: 0;
    }

    .hero-container {
        max-width: 1300px;
        min-height: 75vh;
        padding: 0;
        width: 100%;
    }

    .servicos-container {
        max-width: 1300px;
        padding: 0;
    }

    .sobre-container {
        max-width: 1300px;
        padding: 0;
        gap: 80px;
    }

    .sobre {
        padding: 0 0 60px 0;
    }

    .avaliacoes-container {
        max-width: 1300px;
        padding: 0;
    }

    .mapa-container {
        max-width: 1920px;
        padding: 100px 120px 0;
    }
}

@media (max-width: 1400px) {
    .header-container {
        max-width: 1100px;
        padding: 0;
    }

    .hero-container {
        max-width: 1200px;
        min-height: 75vh;
        padding: 0;
        width: 100%;
    }

    .servicos-container {
        max-width: 1200px;
        padding: 0;
    }

    .sobre-container {
        max-width: 1100px;
        padding: 0;
        gap: 80px;
    }

    .sobre {
        padding: 0 0 60px 0;
    }

    .avaliacoes-container {
        max-width: 1100px;
        padding: 0;
    }

    .mapa-container {
        max-width: 1920px;
        padding: 90px 200px 0;
    }
}